<div class="container">

	<div class="row">
		<% @user.following.each do |follow| %>

		<div class="col s12 m4">

			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="<%= follow.user.grab_image %>">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4"><%= follow.user.first_name %> <%= follow.user.last_name %><i class="material-icons right">more_vert</i></span>
					<!-- <p><a href="#">This is a link</a></p> -->
				</div>
				<div class="card-reveal activator">
					<span class="card-title grey-text text-darken-4 "><%= follow.user.first_name %> <%= follow.user.last_name %><i class="material-icons right">close</i></span>
					                    <br>
                    User Name: <%= follow.user.user_name %>
                    <br>
                    First Name: <%= follow.user.first_name%>
                    <br>
                    Last Name: <%= follow.user.last_name%>
                    <br>
                    Email Address: <%= follow.user.email %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<!-- user image -->
<!-- https://www.isupportcause.com/themes/images/previewImage.png -->