<div class="container">

  <div class="col s12 m12 l12 ">
  <div class="card">
<div class="card-content black-text">


      <%= form_tag "/users/#{@user.id}", method: :patch do  %>


          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @user.first_name %>" id="input_first_name" type="text" name="input_first_name">
              <label for="input_first_name">First Name:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @user.last_name %>" id="input_last_name" type="text" name="input_last_name">
              <label for="input_last_name">Last Name:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @user.email %>" id="input_email" type="text" name="input_email">
              <label for="input_email">Email Address:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @user.photo %>" id="input_photo" type="text" name="input_photo">
              <label for="input_photo">Photo URL:</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input value="Short Bio" id="input_bio" type="text" name="input_bio">
              <label for="input_bio">Short Bio:</label>
            </div>
          </div>
        <center><input type="submit" class="btn btn-primary" value ="Submit" ></center>

<!-- <input type="submit" value="Submit"> -->
<% end %>
</div>
</div>
</div>
