<div class="container">
      <div class="card">
        <div class="card-content black-text">

          <% if @post.errors.any? %>
          <div>
            <%= pluralize(@post.errors.count, "error") %>
            <ul>
              <% @@post.errors.full_messages.each do |error| %>
              <li> <%= error %></li>

              <% end %> 
            </ul>
          </div>
          <% end %>

          <!-- <center><h4 class="page_title">Post Update</h4></center> -->
          <center><span class="card-title">Edit Post</span></center>
          <%= form_tag "/posts/#{@post.id}", method: :patch do %>


          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @post.title %>" id="title_form" type="text" name="input_title">
              <label for="title_form">Title:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea placeholder="<%= @post.post_text %>" id="post_text_form" type="text" name="input_text" class="materialize-textarea"></textarea>
              <label for="post_text_form">Details:</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea placeholder="<%= @post.ingredients %>" id="ingredients_form" type="text" name="input_ingredients" class="materialize-textarea"></textarea>
              <label for="ingredients_form">Ingredients:</label>
            </div>
          </div>


      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder="<%= @post.directions %>" id="directions_form" type="text" name="input_directions" class="materialize-textarea"></textarea>
          <label for="directions_form">Directions:</label>
        </div>
      </div>

          <input id="hidden" name="user_id" type="hidden" value = "<%= current_user.id %>">

          <div class="row">
            <div class="input-field col s12">
              <input value="<%= @post.origin %>" id="input_origin" type="text" name="input_origin">
              <label for="input_origin">Origin:</label>
            </div>
          </div>

        <div class="row">
          <div class="input-field col s12">
            <input value="<%= @post.images.first.img_url %>" id="img_url" type="text" name="img_url">
            <label for="img_url">Image URL:</label>
          </div>
        </div>

        <center><input type="submit" class="btn btn-primary" value ="Save" ></center>

        <% end %>
      </div>
    </div>
</div>



