<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content black-text">

      <% if @post.errors.any? %>
      <div>
      <%= pluralize(@post.errors.count, "error") %>
      <ul>
       <% @@post.errors.full_messages.each do |error| %>
      <li> <%= error %></li>

  <% end %> 
  </ul>
  </div>
  <% end %>

 <center><h2 class="page_title">Post Update</h2></center>
 <%= form_tag "/posts/#{@post.id}", method: :patch do %>
<!-- 
                <div class="form-group">
                  <label class="control-label col-sm-3">Post Title:</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="input_title" 
                     value = "<%= @post.title %>"><br>
                  </div>
                </div> -->

                <div class="md-form">
                  <input placeholder="Placeholder" type="text" name="input_title" class="form-control" id="form1" value = "<%= @post.title %>">
                  <label for="form1">Post Title:</label>
                </div>

<!--                     <div class="form-group">
                  <label class="control-label col-sm-3">Remedy Ingridents</label>
                  <div class="col-sm-9">
                    <textarea id=5row" type="text" class="form-control" name="input_ingredients" rows="5"
                    placeholder="<%= @post.ingredients %>"></textarea><br>
                  </div>
                </div> -->

                <div class="md-form">
                  <input placeholder="Placeholder" type="text" name="input_ingredients" class="form-control" id="form2" value = "<%= @post.ingredients %>">
                  <label for="form2">Remedy Ingridents:</label>
                </div>

<!--                     <div class="form-group">
                  <label class="control-label col-sm-3">Text</label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" name="input_text" rows="5"
                    placeholder = "<%= @post.post_text %>"></textarea><br>
                  </div>
                </div> -->

                <div class="md-form">
                  <input placeholder="Placeholder" type="text" name="input_text" class="form-control" id="form3" value="<%= @post.post_text %>">
                  <label for="form3">Text:</label>
                </div>



<!-- 
                <div class="form-group">
                  <label class="control-label col-sm-3"></label>
                  <div class="col-sm-9">          
                    <input type="hidden" class="form-control"  name="user_id" id="form4" value="<%= current_user.id %>">
                  <br></div>
                </div> -->

                 <div class="md-form">
                  <input placeholder="Placeholder" type="hidden" name="user_id" class="form-control" 
                          id="form5" value = "<%= current_user.id %>">
                  <label for="form5"></label>
                </div>


<!--  -->
                <div class="form-group">
                  <label class="control-label col-sm-3">Origin:</label>
                  <div class="col-sm-9">          
                    <input type="text" class="form-control" name="input_origin" value="<%= @post.origin %>">
                  <br></div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">Image URL:</label>
                  <div class="col-sm-9">          
                    <input type="text" class="form-control" name="img_url" value="<%= @post.images.first.img_url %>">
                  <br></div>
                </div>


<!--                  <div class="md-form">
                 <input type="text" class="form-control" name="img_url" id="form6" value="<%= @post.images.first.img_url %>">
                  <input placeholder="Placeholder" type="text" name="img_url" class="form-control" 
                          id="form6" value="<%= @post.images.first.img_url %>">
                  <label for="form6">Image URL:</label>
                </div> -->


<!--                 <div class="md-form">
                  <input placeholder="Placeholder" type="text" id="form5" class="form-control">
                  <label for="form5">Example label</label>
                </div>
                <div class="md-form">
                  <input placeholder="Placeholder" type="text" id="form5" class="form-control">
                  <label for="form5">Example label</label>
                </div> -->
                <center><input type="submit" class="btn btn-primary" value ="Save" ></center>

 <% end %>
    </div>
    </div>
    </div>
    </div>
  <!-- </center> -->
</body>


