<div id="header-section">

  <div id="wrapperHeader">
    <%= form_tag "/search", method: :post do %>
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" name="search_term" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <% end %>
    <div class="header_text_div">
    
    <p id="header-text">Welcome To Your homemade, Family Style Remedies.</p>
    </div>
  </div>
</div>

<% @posts.each_slice(2) do |two_posts| %>
<div class="row">
  <% two_posts.each do |post| %>

  <div id="each-post" > 
    <div class="col s12 m12 l6">
      <!-- <h2 class="header">some text for header</a></h2> -->
      <div class="card horizontal">
        <div class="homepage-card-bg">
        </div>

        <div class="card-image">
          <img id="post-img" src="<%= post.grab_image %>">
        </div>

        <div class="card-stacked">
          <div class="card-content">
            <p class="header pull center"><a href="posts/<%= post.id %>"><%= post.title %></a></p>

            <div class="post_text">
              <span>
                <p> <%=  truncate(post.post_text, :length => 40) %></p>
              </span>
            </div>

          </div>

          <div class="card-action center">
            <!-- <a href="#">This is a link</a> -->
            <!-- <div class="row"> -->
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/Blank_Canvas_on_Transparent_Background.png" class="pull left flag flag-<%= post.country_code.downcase %>" alt="<%= post.origin %>" />

            <div class="chip pull center">
              <img src="<%= post.user.photo %>" alt="Contact Person">
              <a href="/users/<%= post.user.id %>"><%= post.user.first_name %> <%= post.user.last_name %></a>
            </div>

            <a href="/posts/<%= post.id %>" class="pull right">Comments: <%= post.comments.length %>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <% end %>
</div>
<% end %>

