<section>

  <div id="wrapperHeader">
    <div id="header">
      <!-- <img src="http://encompasshealthcare.com/wp-content/uploads/2013/08/Chinese-Herbs.jpg" alt="" /> -->
    </div> 
    <div id="header-text">Welcome to the First and most comprehensive Resource to your homemade, family style remedies and recipies Site. </div>
  </div>
</section>






<!-- <div class="container"> -->
  <!-- <h3> All Posts</h3> -->
  <% @posts.each_slice(2) do |two_posts| %>
      <div class="row">
        <% two_posts.each do |post| %>

              <div id="each-post" > 
                <div class="col s12 m12 l6">
                  <!-- <h2 class="header">some text for header</a></h2> -->
                  <div class="card horizontal hoverable homepage-card">
                  <div class="homepage-card-bg" style="background-image: url('<%= post.grab_image %>')">
                  </div>

                    <div class="card-image">
                      <!-- <img id="post-img"src="<%= post.grab_image %>"> -->
                    </div>

                    <div class="card-stacked">
                      <div class="card-content">
                        <h4 class="header"><a href="posts/<%= post.id %>"><%= post.title %></a></h4>

                        <div class="post_text">
                          <span class="ellipsis_text">
                        <p>  <%= post.post_text %></p>
                        </span>
                        </div>
                        <!-- <h6></h6> -->
                        <br>
                        <h7>Author: <%= post.user.first_name %></h7>
                        <br>
                        <h7 id="location">Remedy Origin: <%= post.origin %></h7>
                        <br>
                        <h7>Comments: <%= post.comments.length %></h7>
                      </div>
                    
                      <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

        <% end %>
      </div>
  <% end %>

