	<div class="container">
	<% @posts.each do |post| %>

              <div id="each-post" > 
                <div class="col s12 m12 l6">
                  <!-- <h2 class="header">some text for header</a></h2> -->
                  <div class="card horizontal">
                  <div class="homepage-card-bg">
                  </div>

                    <div class="card-image">
                      <img id="post-img" src="<%= post.grab_image %>">
                    </div>

                    <div class="card-stacked">
                      <div class="card-content">
                        <p class="header pull center"><a href="/posts/<%= post.id %>"><%= post.title %></a></p>

                        <div class="post_text">
                          <span>
                        <p> <%=  truncate(post.post_text, :length => 40) %></p>
                        </span>
                        </div>

                      </div>
                    
                      <div class="card-action center">
                        <!-- <a href="#">This is a link</a> -->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/Blank_Canvas_on_Transparent_Background.png" class="pull left flag flag-<%= post.country_code.downcase %>" alt="<%= post.origin %>" />

                          <div class="chip pull center">
                            <img src="<%= post.user.photo %>" alt="Contact Person">
                            <a href="/users/<%= post.user.id %>"><%= post.user.first_name %> <%= post.user.last_name %></a>
                          </div>

                          <!-- <a href="#">Inbox <span class="badge">42</span></a> -->

                            <!-- <i class="glyphicon glyphicon-comment " type="button"> -->
                               <span class="glyphicon glyphicon-comment pull right">4</span>
                            <!-- </i> -->

                         <!-- <i class="small material-icons pull right">comment<span class="badge pull right"><%= post.comments.length %></span></i> -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>


<% end %>
</div>